.order-success-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
.success-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.icon-box {
    font-size: 50px;
    margin-bottom: 20px;
}
.icon-box.error {
    color: red;
}
.btn-home {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #ff4c24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}